body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:973px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:198px;
  width:100px;
  height:60px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:302px;
  width:100px;
  height:60px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:826px;
  width:100px;
  height:60px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1255px;
  width:100px;
  height:60px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:258px;
  width:0px;
  height:0px;
}
#u62_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u62_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u62_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:43px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:840px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:362px;
  width:0px;
  height:0px;
}
#u64_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:468px;
}
#u64_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u64_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:451px;
  width:18px;
  height:19px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:886px;
  width:0px;
  height:0px;
}
#u65_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u65_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u65_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:19px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:133px;
  width:49px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:387px;
  width:62px;
  height:35px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:455px;
  width:62px;
  height:35px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:545px;
  width:62px;
  height:35px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:635px;
  width:62px;
  height:35px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:926px;
  width:62px;
  height:35px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:1006px;
  width:62px;
  height:35px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:1086px;
  width:62px;
  height:35px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:1169px;
  width:62px;
  height:35px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:725px;
  width:62px;
  height:35px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:528px;
  width:62px;
  height:35px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:563px;
  width:62px;
  height:35px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:618px;
  width:62px;
  height:35px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:653px;
  width:62px;
  height:35px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:1069px;
  width:62px;
  height:35px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:1104px;
  width:62px;
  height:35px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:438px;
  width:62px;
  height:35px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:473px;
  width:62px;
  height:35px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:405px;
  width:0px;
  height:0px;
}
#u84_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-4px;
  width:24px;
  height:8px;
}
#u84_seg1 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-4px;
  width:8px;
  height:8px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:473px;
  width:0px;
  height:0px;
}
#u85_seg0 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-4px;
  width:26px;
  height:8px;
}
#u85_seg1 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-2px;
  width:8px;
  height:6px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:563px;
  width:0px;
  height:0px;
}
#u86_seg0 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-4px;
  width:26px;
  height:8px;
}
#u86_seg1 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-4px;
  width:8px;
  height:5px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:653px;
  width:0px;
  height:0px;
}
#u87_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-4px;
  width:24px;
  height:8px;
}
#u87_seg1 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-1px;
  width:8px;
  height:5px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:743px;
  width:0px;
  height:0px;
}
#u88_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-4px;
  width:24px;
  height:8px;
}
#u88_seg1 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-1px;
  width:8px;
  height:5px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:1152px;
  width:62px;
  height:35px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:1187px;
  width:62px;
  height:35px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:67px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:1778px;
  width:116px;
  height:66px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:112px;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:1778px;
  width:100px;
  height:60px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:1882px;
  width:100px;
  height:60px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:1838px;
  width:0px;
  height:0px;
}
#u94_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u94_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u94_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:1942px;
  width:0px;
  height:0px;
}
#u95_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:468px;
}
#u95_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u95_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:451px;
  width:18px;
  height:19px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:1967px;
  width:62px;
  height:35px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:2035px;
  width:62px;
  height:35px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:2125px;
  width:62px;
  height:35px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:2194px;
  width:62px;
  height:35px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:2125px;
  width:62px;
  height:35px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:2035px;
  width:62px;
  height:35px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:1985px;
  width:0px;
  height:0px;
}
#u102_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-4px;
  width:24px;
  height:8px;
}
#u102_seg1 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-4px;
  width:8px;
  height:8px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:2053px;
  width:0px;
  height:0px;
}
#u103_seg0 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-4px;
  width:26px;
  height:8px;
}
#u103_seg1 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-2px;
  width:8px;
  height:6px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:2143px;
  width:0px;
  height:0px;
}
#u104_seg0 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-4px;
  width:26px;
  height:8px;
}
#u104_seg1 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-4px;
  width:8px;
  height:5px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:2212px;
  width:0px;
  height:0px;
}
#u105_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-4px;
  width:24px;
  height:8px;
}
#u105_seg1 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-1px;
  width:8px;
  height:5px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:2194px;
  width:62px;
  height:35px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:67px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:1778px;
  width:116px;
  height:66px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:112px;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:1778px;
  width:100px;
  height:60px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:1882px;
  width:100px;
  height:60px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:1838px;
  width:0px;
  height:0px;
}
#u110_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u110_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u110_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:1942px;
  width:0px;
  height:0px;
}
#u111_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:468px;
}
#u111_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u111_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:451px;
  width:18px;
  height:19px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:1967px;
  width:62px;
  height:35px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:2035px;
  width:62px;
  height:35px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:2125px;
  width:62px;
  height:35px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:2215px;
  width:62px;
  height:35px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:2305px;
  width:62px;
  height:35px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:2108px;
  width:62px;
  height:35px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:2143px;
  width:62px;
  height:35px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:2198px;
  width:62px;
  height:35px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:2233px;
  width:62px;
  height:35px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:2018px;
  width:62px;
  height:35px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:2053px;
  width:62px;
  height:35px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:1985px;
  width:0px;
  height:0px;
}
#u123_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-4px;
  width:24px;
  height:8px;
}
#u123_seg1 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-4px;
  width:8px;
  height:8px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:2053px;
  width:0px;
  height:0px;
}
#u124_seg0 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-4px;
  width:26px;
  height:8px;
}
#u124_seg1 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-2px;
  width:8px;
  height:6px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:2143px;
  width:0px;
  height:0px;
}
#u125_seg0 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-4px;
  width:26px;
  height:8px;
}
#u125_seg1 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-4px;
  width:8px;
  height:5px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:2233px;
  width:0px;
  height:0px;
}
#u126_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-4px;
  width:24px;
  height:8px;
}
#u126_seg1 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-1px;
  width:8px;
  height:5px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:2323px;
  width:0px;
  height:0px;
}
#u127_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-4px;
  width:24px;
  height:8px;
}
#u127_seg1 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-1px;
  width:8px;
  height:5px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:38px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:1413px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:38px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:1689px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:67px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:1499px;
  width:116px;
  height:66px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:112px;
  word-wrap:break-word;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:1502px;
  width:100px;
  height:60px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:2407px;
  width:100px;
  height:60px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:2836px;
  width:100px;
  height:60px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:2467px;
  width:0px;
  height:0px;
}
#u134_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u134_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:19px;
}
#u134_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:19px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:177px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:2507px;
  width:62px;
  height:35px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:2587px;
  width:62px;
  height:35px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:2670px;
  width:62px;
  height:35px;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:2587px;
  width:62px;
  height:35px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:2670px;
  width:62px;
  height:35px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:2407px;
  width:100px;
  height:60px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:2836px;
  width:100px;
  height:60px;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:2467px;
  width:0px;
  height:0px;
}
#u142_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u142_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:19px;
}
#u142_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:19px;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:177px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:67px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:153px;
  width:116px;
  height:66px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:112px;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:67px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:239px;
  width:116px;
  height:66px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:112px;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:67px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:315px;
  width:116px;
  height:66px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:112px;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:67px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:391px;
  width:116px;
  height:66px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:112px;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:67px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:315px;
  width:116px;
  height:66px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:112px;
  word-wrap:break-word;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:2507px;
  width:62px;
  height:35px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:2587px;
  width:62px;
  height:35px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:2670px;
  width:62px;
  height:35px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:2587px;
  width:62px;
  height:35px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:2670px;
  width:62px;
  height:35px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:2525px;
  width:0px;
  height:0px;
}
#u153_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-4px;
  width:24px;
  height:8px;
}
#u153_seg1 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-4px;
  width:8px;
  height:5px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:2605px;
  width:0px;
  height:0px;
}
#u154_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-4px;
  width:24px;
  height:8px;
}
#u154_seg1 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-4px;
  width:8px;
  height:5px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:2688px;
  width:0px;
  height:0px;
}
#u155_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-4px;
  width:24px;
  height:8px;
}
#u155_seg1 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-4px;
  width:8px;
  height:5px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:2523px;
  width:0px;
  height:0px;
}
#u156_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-4px;
  width:24px;
  height:8px;
}
#u156_seg1 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-4px;
  width:8px;
  height:5px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:2603px;
  width:0px;
  height:0px;
}
#u157_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-4px;
  width:24px;
  height:8px;
}
#u157_seg1 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-4px;
  width:8px;
  height:5px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:2686px;
  width:0px;
  height:0px;
}
#u158_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-4px;
  width:24px;
  height:8px;
}
#u158_seg1 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-4px;
  width:8px;
  height:5px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
